<div class="book-detail">
  <div class="left-half">
    <div class="image-wrapper">
      <% if @book.image.attached? %>
        <%= image_tag @book.image.variant(resize_to_fit: [150, 225]), class: 'book-image' %>
      <% else %>
        <p>No image available</p>
      <% end %>
    </div>
  </div>
  <div class="right-half">
    <h1>
      <%= @book.title %>
      <span class="like-button">
        <%= link_to "\u2605", like_book_path(@book), method: :post, remote: true, class: 'like-button' %>
      </span>
    </h1>
    <p><strong>Author:</strong> <%= @book.author %></p>
    <p><strong>Publisher:</strong> <%= @book.publisher %></p>
    <p><strong>Overview:</strong> <%= @book.overview %></p>
  </div>
</div>